@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* Removing Scrollbar Decoration */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #00b6ff;
}
::-webkit-scrollbar-thumb:hover {
  background: #00b7ff88;
} */

/* Removing Input Decoration */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
